<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Contact - Wonderfully-Isaac</title>
<link rel="icon" type="image/png" href="http://static.tumblr.com/crddmbw/Yuenjc4fa/coffee.png" />

<script src="http://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
<link href='//fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:700' rel='stylesheet' type='text/css'>


<style>

*,*:active,*:focus{outline:0;outline-style:none;outline-width:0;-moz-outline-width:0;}#comment_form{display:none;}.clear{clear:both;height:0;}.clearfix:after,.clearfix:before{content:"\0020";display:block;height:0;visibility:hidden;position:relative;z-index:-1;}.clearfix:after{clear:both;}.clearfix{zoom:1;}a{color:#bbb;}a img{border:0;}input,textarea{font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;}::-webkit-input-placeholder{color:#bbb;font-weight:normal;}::-moz-placeholder{color:#bbb;font-weight:normal;}::-moz-placeholder{color:#bbb;font-weight:normal;}::-ms-input-placeholder{color:#bbb;font-weight:normal;}input.placeholder,textarea.placeholder{color:#bbb;font-weight:normal;}.contact-7-form p {color:#777; font-size:12px;font-weight:100;line-height:20px;letter-spacing:1px;word-spacing:2px;text-transform:uppercase;font-family: "Lato", sans-serif;}.contact-7-form input {color:#777;position:relative;margin-bottom:10px;border-radius:3px;padding:10px 12px;border:1px solid #e6e6e6;font-family:'Playfair Display',serif;font-style:italic!important;font-size:13px;}.contact-7-form textarea {color:#777;min-height:160px;margin-bottom:10px;border-radius:3px;border:1px solid #e6e6e6;resize:none;width:100%;padding:10px 12px;-webkit-user-select: text !important;-moz-user-select: text !important;-ms-user-select: text !important;user-select: text !important;font-family:'Playfair Display',serif;font-style:italic!important;font-size:13px;}.contact-7-form input:focus, .contact-7-form textarea:focus {outline:none;background-color:#fafafa;border:1px solid #e1e1e1;}.left{width:60%;}.right{width:60%;}.median {width:60%;}.submit_tab {cursor:pointer;width:200px;height:50px;line-height:50px;font-size:11px;margin:10px auto 20px auto;position: relative;letter-spacing:4px;display:inline-block;border:1px solid #e7e7e7;text-transform: uppercase;font-family: 'Lato', sans-serif;color:#fff;background:#000;transition:all 200ms linear;}.submit_tab span{top:0;right:0;bottom:0; left:0;padding:0;margin:0;border:5px solid #fff;position:absolute;}.submit_tab:hover {background-color:#777;}span.red {color:red!important;}

</style>

</head>

<body onselectstart="return false" ondragstart="return false" draggable="false">

<form action="http://formspree.io/info@coffeestainedbooks.net" method="post" class="contact-7-form">
<p>Your Name <span class="red">*</span><br />
<input class="left filler" type="text" name="name" id="name" name="_replyto" required placeholder="" value=""/></p>
<p>Your Email <span class="red">*</span><br />
<input class="right filler" required placeholder="" id="subject" name="subject" type="text" value=""/></p>
<p>Subject<br />
<input class="median" type="email" name="email" id="email" placeholder="" value="" /></p>
<p>Your Message <span class="red">*</span><br />
<textarea class="full no_resize" cols="40" rows="10" required placeholder="" id="message" name="text"></textarea>
</p>

<p><button type="submit" id="submit_button" class="submit_tab"><span></span>Send Message</button></p>
    
</form>


<script type="text/javascript" src="http://static.tumblr.com/qvqnij2/QxNmuyx0v/coffeenutsthemes-dot-tumblr-dot-com.js"></script>
</body>
</html>


